name: CI
on:
  push:
    branches:
    - main
    tags-ignore:
    - "*.*.*"
jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macOS-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/setup-node@v2
      with:
        node-version: '14'
    - uses: actions/checkout@master
    - name: npm install
      run: npm install
    - name: npm test
      run: npm test
