name: CI
on:
  push:
    branches:
    - master
    tags-ignore:
    - "*.*.*"
jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        elm: ["0.19.1"]
        os: [ubuntu-latest, macOS-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: justgook/setup-elm@1.2.0
      with:
        elm-version: ${{ matrix.go }}
    - uses: actions/checkout@master
    - name: go test
      run: "AT=true go test -v -race -coverprofile=coverage.txt -covermode=atomic ./..."
    - uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: ./coverage.txt
